main{
    background-color: red;
    height: 900px;

}
.wrapper{
    background: white;
    height: $height_wrapper;

    .container{
        margin-top: 20px;
    }
}
.first-section{
    height: $height_wrapper;
    width: 100%;
    padding-top: 20px;

    h1{
       font-weight: bold;
       font-size: 40px;
   }
   p{
       color:#1b3c59;
       font-size: 22px;
   }
   ul{
        padding-left: 19px;
   }

}

.second-section{
    height: $height_wrapper;
    width: 100%;
    padding-top: 20px;
    background-color: white;

    img{
        width: 100%;
    }
}
.number{
    height: 250px;
    width: 100%;
    background-color: $background_section;
}
.number-left, .number-center, .number-right{
    padding-top: 60px;

    h3{
        color:white;
        font-size: 40px;
    }
    p{
        color:white;
        font-size: 19px;
    }
}
.partners{
    width: 100%;
    height: 300px;
    background-color: white;

    .title h3{
        margin-left: 150px;
    }
}
.logo-partners{
    height: 259px;
    background-color: white;
}
.fourth-partner, .fifth-partner, .sixth-partner{
    margin-left: $margin_left;
}
.first-partner, .second-partner, .third-partner , .fourth-partner, .fifth-partner, .sixth-partner {

    img{
        width: 270px;
    }
}
